@{
    ViewBag.Title = "HTMLdeGazet";
}
<div id="container" class="clearfix">
    <div id="voorbeelden" class="clearfix">
        <div id="partial" class="clearfix">
            @Html.Partial("Voorbeelden")
        </div>
        <div id="inhoud" class="clearfix">
            <div id="inhoudH4" class="clearfix">
                <div id="titel" class="left">
                    <h4>HTML 5 / CSS 3</h4>
                </div>                                
            </div>
            <div id="oefeningen" class="voorbeelden">
                <h1>De Gazet</h1>
            </div>
            <h3>Oefening voor de module HTML5 / CSS3</h3>
            <h3>Hoofdopdracht</h3> 
            <p>Maak een website met HTML5 gebruik makende van CSS3.</p><br />
            <p><i>Enkel de links weer en abonneren werken in deze oefening. </i></p>
            <br />
            <br />
            <div id="inhoudH4" class="clearfix">
                <div class="left">
                    <div id="voorbeeld" class="clearfix">
                        <ul>
                            <li>
                                <div id="wrapperDownload" class="clearfix">
                                    <div id="downloadImg">
                                        <img src="~/Content/images/voorbeeld.png" />
                                    </div>
                                    <div id="voorbeeldText">
                                        <a href="~/Sites/degazet/index.html" target="_blank">Voorbeeld</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div id="downloadVoorbeeld" class="clearfix">
                    <ul>
                        <li>
                            <div id="voorbeeldDownload" class="clearfix">
                                <div id="downloadImg">
                                    <img src="~/Content/images/rsz_vs2013.jpg" />
                                </div>
                                <div id="voorbeeldText">
                                    <a href="https://github.com/lucdhaenen/DeGazet.git" target="_blank">Broncode</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>         
        </div>
    </div>
</div>
