@{
    ViewBag.Title = "Index";
}
<div id="container">
    <div id="update">
        <h4 class="left">Home</h4>
        <h5 class="right">Laatste update: 20/06/2014</h5>
    </div>    
    <div id="wrapper" class="clearfix">
        <div id="image">
            <img src="~/Content/images/Luc.jpg" alt="foto" />
        </div>
        <div id="inhoud" class="clearfix">
            <h2>.NET Developer C#</h2>
            <p>
                Ik ben een software ontwikkelaar in de Microsoft .NET omgeving en ben woonachtig in Oud-Turnhout, een deelgemeente van Turnhout.<br />
                In 2008 volgde ik een herscholing als software ontwikkelaar VB.NET. Helaas is er toen de bankencrisis gekomen waardoor ik niet aan een baan ben geraakt.<br />
                In 2013 ben ik terug begonnen met een herscholing, ditmaal als software ontwikkelaar .NET C#.<br /><br />
                Momenteel ben ik nog op zoek naar een stage of een ibo-contract. <br />
                Voor meer informatie over ibo: <a href="http://www.vdab.be/ibo/" target="_blank">http://www.vdab.be/ibo/</a><br /><br />
                Wil u graag meer informatie over de opleiding software ontwikkelaar .NET van de VDAB? Volg dan <a href="http://www.vdab.be/mijnvdab/opleidingen/opleidingen.jsp?context=MAIL&entryPoint=OpleidingInhoud&opleidingid=13415&doelgroep=2" target="_blank">deze</a> link.<br /><br />
                Ook verwijs ik u graag naar mijn <a href="@Url.Action("Portfolio", "Home")">portfolio </a>waar u enkele oefeningen uit de opleiding en enkele eigen projecten kan terugvinden.
            </p><br />
        </div>
    </div>
    <div id="social">
        <ul>
            <li>
                <div id="wrapperSocial" class="clearfix">
                    <div id="socialImg">
                        <img src="~/Content/images/user_32.png" />
                    </div>
                    <div id="socialText">
                        Luc D'haenen<br />
                        Oud-Turnhout, België
                    </div>
                </div>
            </li>
            <li>
                <div id="wrapperSocial" class="clearfix">
                    <div id="socialImg">
                        <img src="~/Content/images/mobile_32.png" />
                    </div>
                    <div id="socialTextSingle">
                        +32 494 45 84 64
                    </div>
                </div>
            </li>
            <li>
                <div id="wrapperSocial" class="clearfix">
                    <div id="socialImg">
                        <img src="~/Content/images/telephone_32.png" />
                    </div>
                    <div id="socialTextSingle">
                        +32 014 72 84 62
                    </div>
                </div>
            </li>
            <li>
                <div id="wrapperSocial" class="clearfix">
                    <div id="socialImg">
                        <img src="~/Content/images/mail_32.png" />
                    </div>
                    <div id="socialTextSingle">
                        <a href="mailto:luc.dhaenen@gmail.com">luc.dhaenen@gmail.com</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="socialMedia">
        <ul>
            <li>
                <a href="http://www.facebook.com/luc.dhaenen" target="_blank"><img src="~/Content/images/facebook.png" /></a>
            </li>
            <li>
                <a href="http://be.linkedin.com/in/lucdhaenen/" target="_blank"><img src="~/Content/images/linkedin.png" /></a>
            </li>
            <li>
                <a href="http://twitter.com/lucdhaenen" target="_blank"><img src="~/Content/images/twitter.png" /></a>
            </li>
        </ul>
    </div>
</div>

