@{
    ViewBag.Title = "ASP";
}
<div id="container" class="clearfix">
    <div id="voorbeelden" class="clearfix">
        <div id="partial" class="clearfix">
            @Html.Partial("Voorbeelden")
        </div>
        <div id="inhoud" class="clearfix">
            <div id="inhoudH4" class="clearfix">
                <div id="titel" class="left">
                    <h4>ASP</h4>
                </div>
                <div id="downloadVoorbeeld" class="clearfix">
                    <ul>
                        <li>
                            <div id="wrapperDownload" class="clearfix">
                                <div id="downloadImg">
                                    <img src="~/Content/images/download.png" />
                                </div>
                                <div id="downloadText">
                                    <a href="~/Content/files/ASP.pdf" target="_blank">Download index cursus</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="oefeningen" class="voorbeelden">
                <h1>Oefeningen</h1>
                <div id="screens">
                    <p>Hier staan oefeningen over de betreffende module van de opleiding.</p>
                </div>

            </div>
            <div id="testen" class="voorbeelden">
                <h1>Test</h1>
                <p>Hier staat de test van de betreffende module van de opleiding.</p>
            </div>
            <br />
            <br />
            <p>
                Omdat deze pagina's nog volop in ontwikkeling zijn, zullen stelselmatig oefeningen en de betreffende
                links actief worden.
            </p>
        </div>
    </div>
</div>
