@{
    ViewBag.Title = "EigenProjecten";
}
<div id="container">
    <h4>EigenProjecten</h4>
    <div class="clearfix">
        <div class="leftEigen">
            <div id="screens">
                <div id="imgModules">
                    <a href="@Url.Action("Website", "Projecten")"><img src="~/Content/images/rsz_website.png" /></a>
                </div>
            </div>
        </div>
        <div class="rightEigen voorbeelden">
            <h1>Website Portfolio</h1>
            <p>Het ontwerp van mijn eigen portfolio waar u nu bent.</p>
        </div>
    </div>
    <div class="clearfix">
        <div class="leftEigen">
            <div id="screens">
                <div id="imgModules">
                    <a href="@Url.Action("GSC", "Projecten")"><img src="~/Content/images/rsz_gsc-certificaten.jpg" /></a>
                </div>
            </div>
        </div>
        <div class="rightEigen voorbeelden">
            <h1>GSC</h1>
            <p>Een programma dat ik ooit ben beginnen maken voor een rederij.</p>
            <p>Dit programma was origineel geschreven in VB.NET maar ik ben begonnen met het te herschrijven
            naar C# gebruik makende van de nieuwste technieken. (WPF, MVC, EF)</p>
            <p>Zo is dit programma nog niet compleet, maar zal telkens bijgewerkt worden.</p>
        </div>
    </div>
</div>

