@{
    ViewBag.Title = "Website";
}
<div id="container">
    <div id="KopEigen" class="clearfix">
        <div id="KopEigenLinks">
            <h2>Website</h2> 
        </div>
        <div id="KopEigenRechts">
            <div id="KopLinks">
                <div id="wrapperDownload" class="clearfix">
                    <div id="downloadImg">
                        <img src="~/Content/images/voorbeeld.png" />
                    </div>
                    <div id="voorbeeldText">
                        <a href="http://lucdhaenen.lumo.be" target="_blank">Voorbeeld</a>
                    </div>
                </div>                 
            </div>
            <div id="downloadVoorbeeld">                
                
                <div id="voorbeeldDownload" class="clearfix">
                    <div id="downloadImg">
                        <img src="~/Content/images/rsz_vs2013.jpg" />
                    </div>
                    <div id="voorbeeldText">
                        <a href="https://github.com/lucdhaenen/Bridges.git" target="_blank">Broncode</a>
                    </div>
                </div>  
            </div>
            
        </div>
    </div>    
    <div class="clearfix">
        <div class="leftEigen">
            <div class="thumb">
                <a href="~/Content/images/EigenProjecten/Portfolio/Home.png" target="_blank"><img src="~/Content/images/EigenProjecten/Portfolio/rsz_home.png" /></a>
            </div>
            <div class="thumb">
                <a href="~/Content/images/EigenProjecten/Portfolio/Portfolio.png" target="_blank"><img src="~/Content/images/EigenProjecten/Portfolio/rsz_portfolio.png" /></a>
            </div>
            <div class="thumb">
                <a href="~/Content/images/EigenProjecten/Portfolio/Contact.png" target="_blank"><img src="~/Content/images/EigenProjecten/Portfolio/rsz_contact.png" /></a>
            </div>
            <div class="thumb">
                <a href="~/Content/images/EigenProjecten/Portfolio/Voorbeelden.png" target="_blank"><img src="~/Content/images/EigenProjecten/Portfolio/rsz_voorbeelden.png" /></a>
            </div>
            <div class="thumb">
                <a href="~/Content/images/EigenProjecten/Portfolio/EigenProjecten.png" target="_blank"><img src="~/Content/images/EigenProjecten/Portfolio/rsz_eigen_projecten.png" /></a>
            </div>
            <div class="thumb">
                <a href="~/Content/images/EigenProjecten/Portfolio/cv.png" target="_blank"><img src="~/Content/images/EigenProjecten/Portfolio/rsz_cv.png" /></a>
            </div>
            <div class="thumb">
                <a href="~/Content/images/EigenProjecten/Portfolio/DetailEigen.png" target="_blank"><img src="~/Content/images/EigenProjecten/Portfolio/rsz_detaileigen.png" /></a>
            </div>
        </div>
        <div class="rightEigen voorbeelden">
            <h1>Website Portfolio</h1>
            <p>
                Dit project is gemaakt met MVC 4 in Visual studio 2013.<br />
                De stijl is volledig opgebouwd door middel van CSS 3 zonder gebruik te maken van Bootstrap.
            </p>
            <p>
                Voor de Contact-form is gebruik gemaakt van een klasse zodat het object Contact kan gebruikt worden. <br />
                In de klasse wordt ook de server-side validatie gedaan op de velden van de form.
            </p>
            <br />
            <br />
            <p>
                <i>De code, id, class en CSS-file moeten nog aangepast worden zodat alles ordentelijk en overzichtelijk is.</i>
            </p>
        </div>
    </div>        
        
    
</div>

